[Desktop Entry]
Name=Islamic Widget
Comment=Islamic daily information widget with prayer times, Quran and Hadith
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Dospoint0
X-KDE-PluginInfo-Email=naiflohani@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.islamicwidget
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/Dospoint0/islamic-widget-kde
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL-3.0
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-EnabledByDefault=true